<footer class="inner">
  <!-- For checkbox setting -->
  <script type="text/javascript">
    var inputs = document.getElementsByTagName('input');    
    for (var i=0; i<inputs.length; i++) {
      if (inputs[i].type == 'checkbox') {
        if (inputs[i].checked == false){
          inputs[i].disabled = false;
        }    
      }
    }
  </script>
  
  <!-- Foot note -->
  {% if site.github.is_project_page %}
  <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="https://ni-chen.github.io">Ni Chen</a> | Last updated: {{ "now" | date: '%B %d, %Y' }} </p>
  {% else %}
  <p> &copy; Copyright {{ site.time | date: '%Y' }} <a href="https://ni-chen.github.io">Ni Chen</a> | Last updated: {{ "now" | date: '%B %d, %Y' }} </p>
  {% endif %}

</footer>
 

